# Matches your Okta Admin Dashboard URL
OKTA_DOMAIN=trial-8077266.okta.com
# Dashboard > Applications > Listed within app
OKTA_CLIENT_ID=YOUR_CLIENT_ID
OKTA_REDIRECT_URI=com.okta.trial-8077266:/callback
# Security > API > Tokens > 'Create Token'
OKTA_API_TOKEN=YOUR_OKTA_API_TOKEN
